dist: focal
language: python
python:
  - "3.11"

install:
  - pip install -r requirements.txt

script:
  - black . --check
  - flake8
  - python manage.py migrate  # Ensure DB migrations run before tests
  - python manage.py test || pytest

env:
  global:
    - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    - AWS_REGION="us-west-2"
    - EB_APPLICATION_NAME="your-eb-app-name"
    - EB_ENVIRONMENT_NAME="your-eb-env-name"
