language: python
python:
  - "3.8"
  - "3.9"
  - "3.10"

install:
  - pip install -r requirements.txt

script:
  - python manage.py test || pytest


env:
  global:
    - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    - AWS_REGION="us-west-2"
    - EB_APPLICATION_NAME="your-eb-app-name"
    - EB_ENVIRONMENT_NAME="your-eb-env-name"

