dist: focal
language: python
python:
  - "3.11"

install:
  - pip install -r requirements.txt
  - pip install black flake8

script:
  - black . --check  # ✅ Check code formatting
  - flake8  # ✅ Run Flake8 linter
  - python manage.py migrate  # ✅ Ensure DB migrations run before tests
  - python manage.py test || pytest  # ✅ Run Django tests
  - python manage.py makemigrations
  - python manage.py test polls

env:
  global:
    - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    - AWS_REGION="us-west-2"
    - EB_APPLICATION_NAME="your-eb-app-name"
    - EB_ENVIRONMENT_NAME="your-eb-env-name"
